html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}
@font-face {
  src: url(fonts/CookieRun\ Black.ttf);
  font-family: Cookie-Run;
}

body {
  background-color: rgb(107, 16, 100);
}

.heading {
  font-family: Cookie-Run;
  text-shadow: 2px 0 0 #000, 0 -2px 0 #000, 0 2px 0 #000, -2px 0 0 #000;
  margin: 70px;
  margin-top: 300px;
  padding: 20px;
  text-align: center;
  background-color: rgb(199, 72, 190);
  border: 5px solid rgb(78, 49, 133);
  border-radius: 30%;
  box-shadow: 10px 5px 5px rgb(38, 0, 56);
}
.gingerbraves {
  width: 7%;
  margin: 5px;
  top: 20px;
  position: absolute;
}
.ging1 {
  margin-left: 25%;
  animation: gingybrave 4s infinite;
}
.ging2 {
  margin-left: 45%;
  animation: gingybrave 2s infinite;
}
.ging3 {
  margin-left: 65%;
  animation: gingybrave 3s infinite;
}
.ging4 {
  margin-left: 85%;
  animation: gingybrave 4s infinite;
}
.ging5 {
  margin-left: 5%;
  animation: gingybrave 6s infinite;
}
.link {
  font-size: 40px;
  color: white;
}
.heading:hover {
  animation-name: neww;
  animation-duration: 1s;
}
.everything {
  font-family: Cookie-Run;
  font-size: 50px;
  color: white;
  text-shadow: 2px 0 0 #000, 0 -2px 0 #000, 0 2px 0 #000, -2px 0 0 #000;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 15px;
}

.Category {
  background-color: rgb(199, 72, 190);
  border: 4px solid rgb(78, 49, 133);
  border-radius: 20%;
  width: 28%;
  height: 400px;
  margin-top: 10px;
  box-shadow: 10px 5px 5px rgb(38, 0, 56);
  -webkit-transition: all 0.3s;
}
.Category:hover {
  transform: scale(1.05);
  outline: 4px solid rgb(78, 49, 133);
  color: rgb(255, 0, 149);
  cursor: pointer;
}
.everything:hover .Category:not(:hover) {
  transform: scale(0.9);
  opacity: 0.3;
}
.child-1 {
  background-image: url(Images/Vamp_mc_lv3.webp);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.child-2 {
  background-image: url(Images/Soulstone_3.webp);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.child-3 {
  background-image: url(Images/Topping_main_back.webp);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.child-4 {
  background-image: url(Images/Skill_powder.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.child-5 {
  background-image: url(Images/Exp_star_jelly_7.webp);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.child-6 {
  background-image: url(Images/Material_rare_aurora_pillar.webp);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.child-7 {
  background-image: url(Images/Radiant.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.child-8 {
  background-image: url(Images/Currency_coin_crate.webp);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.child-9 {
  background-image: url(Images/Currency_crystal_cart.webp);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
h2 {
  margin-top: 15px;
  font-size: 6rem;
}
.new {
  background-color: rgba(0, 0, 0, 0.5);
  border: dashed rgb(78, 49, 133);
  color: rgb(255, 0, 255);
  margin: center;
  padding-left: 30px;
  padding-right: 30px;
}
.new:hover {
  animation-name: newfr;
  animation-duration: 1s;
}
@keyframes neww {
  0% {
  }
  50% {
    margin-right: 3em;
    margin-left: 3em;
  }
}
@keyframes newfr {
  0% {
  }
  40% {
    border-radius: 20%;
    padding: 1%;
  }
}
@keyframes gingybrave {
  0% {
  }
  40% {
    margin-top: 30px;
    rotate: 360deg;
  }
}
@media screen and (max-width: 1100px) {
  .everything {
    flex-direction: row;
  }
  .Category {
    width: 450px;
  }
  .heading {
    font-size: 60px;
    margin: 2rem;
  }
}
@media screen and (max-width: 390px) {
  .everything {
    flex-direction: row;
  }
  .Category {
    width: 300px;
    font-size: 30px;
    height: 300px;
    margin: 1rem;
  }
  .h2 {
    font-size: 20px;
  }
  .heading {
    font-size: 40px;
    margin: 1rem;
  }
}
